.card{
  width: 550px;
  height: 440px;
  color: #fff;
  top:50%;
  left: 100%;
  box-sizing: border-box;
  padding: 31px 40px;
  border: 1px solid #14151c;
  transform: translate(-50%,-50%);
  background: #14151c;
}
