
      <div class="container" >
        <div class="row" >

              <div class="col-md-6">

                      <div class="card">
                            <div class="text-center" >
                              <h1>Student add</h1>
                              <hr>
                            </div>
                            <form [formGroup]="formValue">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="name" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
                                <small *ngIf="formValue.get('name')?.invalid && formValue.get('name')?.touched " class="text-danger">Name is Required</small>
                              </div>
                              <br>
                              <div class="form-group">
                                <label for="exampleInputEmail1">Last name</label>
                                <input type="name" formControlName="lastname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last name">
                                <small *ngIf="formValue.get('lastname')?.invalid && formValue.get('lastname')?.touched " class="text-danger">Last Name is Required</small>

                              </div>
                              <br>
                              <!--
                                <div class="form-group">
                                <label for="exampleInputEmail1">Class</label>
                                <input type="text" formControlName="class" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter class C + number" >
                                <small *ngIf="formValue.get('class')?.invalid && formValue.get('class')?.touched " class="text-danger">Class is Required</small>
                              </div>
                              <br>
                            -->
                              <div class="form-group">
                                <label for="exampleInputEmail1">select Class</label>
                              <select class="form-select" formControlName="class" aria-label="Default select example">
                                <option value="C1">C1</option>
                                <option value="C2">C2</option>
                                <option value="C3">C3</option>
                              </select>
                              <small *ngIf="formValue.get('class')?.invalid && formValue.get('class')?.touched " class="text-danger">Class is Required</small>
                            </div>
                            </form>
                            <br>
                            <div class="modal-footer">
                              <button type="button" routerLink="/student" class="btn btn-warning" >Close</button>&nbsp;
                              <button (click)="addstudent()" type="button" [disabled]="formValue.invalid" class="btn btn-primary">Add</button>
                            </div>

                      </div>
              </div>


        </div>
</div>
